.Card {
  .cardContainer {
    width: 303.33px;
    height: 350.33px;

    .productCard {
      width: 281.33px;
      height: 281.33px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .productCardImg {
        width: 225.06px;
        height: 225.06px;
      }
    }

    .cardProductName {
      padding: 15px 15px 0 15px;
      font-size: 18px;
      font-weight: bold;
    }

    .cardProductInfo {
      font-size: 16px;
      padding: 5px;
    }

    .cardPick {
      position: absolute;
      top: 12px;
      left: 10px;
    }
  }
}