.Product {

  .headerContainer {
    background-color: #00b8fc;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;


    .headerInfoContainer {
      display: flex;
      align-items: center;
      width: 1150px;
      margin: 174px auto 0 auto;
      justify-content: center;
      border-bottom: 1px solid black;

      .productImgContainer {
        display: flex;
        justify-content: center;
        width: 100%;

        .productImg {
          max-height: 428px;
        }
      }

      .productInfo {
        width: 40%;

        .productInfoName {
          width: 100%;
          margin-bottom: 20px;
          border-bottom: 1px solid black;

          .name {
            font-size: 32px;
            font-weight: bold;
          }

          .description {
            font-size: 16px;
            padding-bottom: 20px;
          }
        }

        .productInfoColor {
          border-bottom: 1px solid black;

          .colorName {
            margin-bottom: 10px;
          }

          .colorImg {
            border-radius: 100%;
            margin: 7px 14px 7px 0;
          }
        }

        .specPrice {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          margin-top: 24px;

          .plusImg {
            width: 15px;
            margin-right: 3px;
          }

          .price {
            display: flex;
            font-size: 20px;
          }

          .spec {
            font-size: 13px;
            width: 220px;
          }
        }

        .quantityContainer {
          margin-bottom: 10px;

          .quantity {
            width: 20%;
          }
        }

        .btnContainer {
          display: flex;

          .buyBtn {
            width: 90%;
            height: 40px;
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .cartBtn {
            .cartImg {
              margin-left: 4px;
              width: 40px;
            }
          }
        }
      }
    }

    .imgCollection {
      display: flex;
      width: 1150px;
      margin: 0 auto;

      .img {
        width: 70px;
        padding-right: 10px;
        ;
      }
    }
  }



}