.Header {
  body {
    overflow-x: hidden;
  }

  .flexItemsCenter {
    display: flex;
    align-items: center;
  }
  header {
    position: relative;
  }
  .headerTopWrap {
    background-color: #333;
    .haederTop {
      @extend .flexItemsCenter;
      width: 1150px;
      margin: 0 auto;
      height: 45px;
      justify-content: space-between;

      .headerTopLeft {
        a {
          &:last-child img {
            border-right: none;
          }
        }

        img {
          height: 20px;
          padding: 0 15px;
          border-right: 1px solid #ffffff60;
          opacity: 0.6;
        }
      }
      .headerTopRight {
        a {
          color: #fff;
          padding: 0 15px;
          font-size: 14px;
          border-right: 1px solid #ffffff60;
          &:last-child {
            padding-right: 0;
            border-right: none;
          }
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .headerMain {
    @extend .flexItemsCenter;
    width: 1150px;
    justify-content: space-between;
    height: 90px;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    .headerMainRight {
      a img {
        height: 33px;
      }
    }
    .headerMainLeft {
      .searchInput {
        border: none;
        color: #fff;
        background-color: #fff0;
        border-bottom: 1px solid #fff;
        padding: 5px 0;
      }
      .searchInput::-webkit-input-placeholder {
        color: #fff;
      }
    }
    nav {
      .mainNav {
        display: inline-block;
        padding: 0 20px;
        position: relative;
        border: 1px solid red;
        .mainNavWrap {
          position: absolute;
          width: 100%;
          background-color: #fff;
          top: 90px;
          left: 0;
          width: 100vw;
          margin-left: calc(-50vw + 50%);
          z-index: 3;
          height: 320px;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          padding-top: 30px;
          flex-wrap: wrap;
          ul {
            width: 200px;
            li {
              color: #888;
              font-size: 15px;
              line-height: 25px;
              font-weight: 200;
              &:first-child {
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
                color: #000;
              }
            }
          }
        }
      }

      a {
        color: #fff;
      }
    }
  }
}
