body {
  background-color: #bbb; /*지워야함*/
}

.FlexItemsCenter {
  display: flex;
  align-items: center;
}

.haederTop {
  @extend .FlexItemsCenter;
  height: 45px;
  width: 100%;
  justify-content: space-between;
  background-color: #333;
  .headerTopLeft {
    a {
      &:last-child img {
        border-right: none;
      }
    }

    img {
      height: 20px;
      padding: 0 15px;
      border-right: 1px solid #fff;
      opacity: 0.6;
    }
  }
  .headerTopRight {
    a {
      color: #fff;
      padding: 0 15px;
      border-right: 1px solid #fff;
      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }
  }
}

.headerMain {
  @extend .FlexItemsCenter;
  justify-content: space-between;
  height: 75px;
  .headerMainRight {
    a img {
      height: 40px;
    }
  }
  .headerMainLeft {
    .searchInput {
      border: none;
      background-color: #fff0;
      border-bottom: 1px solid #000;
      padding: 5px 0;
    }
  }
  .headerMainCenter {
    .mainCategory {
      display: inline-block;
      padding: 0 20px;
    }
    a {
      color: #2f3132;
    }
  }
}
