.Footer {
  .footerWidth {
    width: 1150px;
    margin: 0 auto;
  }
  padding: 50px;
  background-color: #252a2c;
  color: #fff;

  .footerTop {
    @extend .footerWidth;
    margin-bottom: 30px;

    a {
      display: inline-block;
      width: 25%;
      padding-bottom: 30px;
      color: #fff;
      font-size: 14px;
    }
  }

  .footerBottom {
    @extend .footerWidth;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid #ffffff61;
    .footerBottomLeft {
      display: flex;
      align-items: center;

      img {
        width: 27px;
        margin-right: 15px;
      }
    }

    .footerBottomRight {
      margin-top: 50px;

      p {
        margin-bottom: 10px;
        font-size: 13px;
        color: #fff;
      }

      .newsWrap {
        display: flex;
        align-items: center;

        .newsInput {
          height: 45px;
          width: 325px;
          padding: 10px;
          border: 0;
          outline: none;
        }

        .newsButton {
          width: 45px;
          height: 45px;
          border: 0;
          color: #252a2c;
          background-color: #dcff0c;
        }
      }
    }
  }

  .footerCopyright {
    @extend .footerWidth;
    overflow: hidden;
    padding-top: 40px;
    font-size: 11px;

    a {
      float: right;
      margin-right: 20px;
      color: #fff;
      font-size: 13px;

      img {
        margin-right: 10px;
      }
    }

    p {
      margin-top: 10px;
    }
  }
}
